<section id="donations" class="portfolio">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>How To Help</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-money fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Donations</strong>
              </h4>
              <p>Send Checks to:</br> 3650 Rogers Road # 336 c\o BRH </br>Wake Forest NC 27587</br>make checks payable to RNSDA</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <a class="fa fa-amazon fa-stack-1x text-primary" href="https://smile.amazon.com/ch/51-0441465" class="btn btn-light"></a>
            </span>
              <h4>
                <strong>Amazon</strong>
              </h4>
              <p>Make Donations by shopping with Amazon Smile.</p>
              <a href="https://smile.amazon.com/ch/51-0441465" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Visit With Us</strong>
              </h4>
              <p>Your presence is always a present.</p>
              <a href="#currentlocationmap" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-heart-o fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Prayer</strong>
              </h4>
              <p>We always need your Prayers.</p>
              <a href="https://www.adventist.org/en/spirituality/prayer/" target="_blank" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
